<!-- Dashboard -->
<div id="dashboard" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="flow-text center" >User Dashboard</h4>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#blog"><%= @user.posts.count %> Blog</a></li>
          <li class="tab col s3"><a href="#follower"><%= @user.followers.count %> Follower</a></li>
          <li class="tab col s3"><a href="#following"><%= @user.following.count %> Following</a></li>
          <li class="tab col s3"><a href="#avatar_setting">Avatar setting</a></li>
        </ul>
      </div>
      <div id="blog" class="col s12">
        <ul class="collection">
          <% @user.posts.reverse.each do |user_post| %>
            <li id="post_num_<%= user_post.id %>" class="collection-item avatar">
              <%= gravatar_thumbnail_for @user %>
              <span class="title"><%= truncate(strip_tags(user_post.title), :length => 50 ) %></span>
              <p>
                <%= user_post.comments.count %> <i class="fa fa-comments"></i> 
                <%= user_post.updated_at.in_time_zone(7).strftime(" %m/%d/%Y") %>
              </p>
              <ul class="secondary-content">
                <li class="left">
                  <%= link_to(edit_post_path(user_post), :class =>"waves-effect waves-light btn-floating #{random_color}" ) do %>
                    <i class="material-icons">mode_edit</i>
                  <% end %>
                </li>
                <li class="left">
                  <%= link_to(user_post, :class =>"waves-effect waves-light btn-floating #{random_color}" ) do %>
                    <i class="material-icons">visibility</i>
                  <% end %>
                </li>
                <li class="left">
                  <a class="<% random_color %>waves-effect waves-light btn-floating" onclick="del_post(<%= user_post.id %>)">
                    <i class="material-icons">delete</i>
                  </a>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="follower" class="col s12">
        <div class="section">
          <% @user.followers.each do |follow| %>
            <div class="chip">
              <%= gravatar_chip_for(follow) %>
              <%= follow.name  %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="following" class="col s12">
        <div class="section">
          <% @user.following.each do |follow| %>
            <div class="chip">
              <%= gravatar_chip_for(follow) %>
              <%= follow.name  %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="avatar_setting" class="col s12">
        <div class="section">
          <div class="row">
            <div class="col s12 m6 l6">
              <div id="user_customm_avatar" class="switch">
                <span class="flow-text">Use custom avatar</span> 
                <label>
                  <input <%= "disabled" if !@user.avatar.present?  %>  type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
                <div class="row">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Avatar</span>
                      <input id="user_avatar_file" type="file" name="avatar" required  accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <div class="right-align">
                  <button type="button" onclick="upload_avatar()" class="waves-effect waves-light btn-large">
                    <i class="material-icons left">cloud_upload</i>Upload
                  </button>
                  </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
              <!-- avatar here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function del_post (post_id) {
    if (confirm('Do you want to delete this post?')) {
      $.ajax({
        url: '/delete_post',
        type: 'POST',
        data: {post_id: post_id},
        success: function(data) {
          if (data["status"] == "success") {
            Materialize.toast('Successfull delete post', 4000,'rounded');
            $("#post_num_"+post_id).hide();
          }else{
            Materialize.toast('Error please reload page !', 4000,'rounded');
          }
        }
      })
    } else {
         return false;
     }
  }
  // avatar
  $('#user_customm_avatar').click(function(event) {
    if ($('#user_customm_avatar input')[0].disabled) {
      Materialize.toast('Please upload avatar before <br/> using cusom avatar', 4000,'rounded');
    };
  });
  function upload_avatar () {
    Materialize.toast('Sorry guy! Sever now error', 4000,'rounded');
    // var file = $('#user_avatar_file')[0].files[0];
    // var data = new FormData();
    // data = file;
    // $.ajax({
    //   url: '/user/upload_avatar',
    //   type: 'POST',
    //   processData: false,
    //   contentType: false,
    //   data: {user_id: "<%= @user.id%>", avatar: data},
    //   success: function(data) {
    //     if (data["status"] == "success") {
    //       Materialize.toast('Successfull delete post', 4000,'rounded');
    //       $("#post_num_"+post_id).hide();
    //     }else{
    //       Materialize.toast('Error please reload page !', 4000,'rounded');
    //     }
    //     console.log('bee');
    //   }
    // })
  }
</script>